* {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

/* 文字溢出部分显示... */
ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.underline {
	text-decoration: underline;
}

/* 滚动条样式修改 */
/* 纵向滚动条和横向滚动条宽度 */
.scroll {
	overflow-y: auto;
}

.scroll::-webkit-scrollbar {
	width: 3px;
	height: 5px;
}

/* 滚动条按钮样式 */
.scroll::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #868686;
}

/* 滚动条背景条样式 */
.scroll::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #b8b8b8;
}

/**app.wxss**/

page {
	background: #f4f4f4;
}

body {
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* 鼠标移上去变成小手 */
.pointer {
	cursor: pointer;
}

/* 滚动条样式修改 */
/* 纵向滚动条和横向滚动条宽度 */
.scroll::-webkit-scrollbar {
	width: 7px;
	height: 5px;
}

/* 滚动条按钮样式 */
.scroll::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #868686;
}

/* 滚动条背景条样式 */
.scroll::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #b8b8b8;
}


.underline {
	text-decoration: underline;
}

.line-through {
	text-decoration: line-through #999;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

/* 垂直居中 */
.absolute-center-column {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	/* 50%为自身尺寸的一半 */
	margin: auto;
}

/* 水平居中 */
.absolute-center-row {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	/* 50%为自身尺寸的一半 */
	margin: auto;
}

/* 居中 */
.absolute-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	/* 50%为自身尺寸的一半 */
	margin: auto;
}

.fixed {
	position: fixed;
}

.border2 {
	border-bottom: 2px solid #f8f8f8;
}

.border-ccc {
	border: 1px solid #ccc;
}

.border-eee {
	border: 1px solid #eee;
}

.overflow-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.overflow-ellipsis2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.width-full {
	width: 100%;
}

.height-full {
	height: 100%;
}

.z-index99 {
	z-index: 99;
}

.z-index999 {
	z-index: 999;
}

.z-index9999 {
	z-index: 9999;
}

button {
	padding: 0;
	color: #fff;
}

button::after {
	border: none;
}

::-webkit-scrollbar {
	width: 0;
	height: 0;
	color: transparent;
}

checkbox .wx-checkbox-input {
	border-radius: 50%;
	width: 38px;
	height: 38px;
}

checkbox .wx-checkbox-input.wx-checkbox-input-checked {
	border-color: #1ccfcf !important;
	background: #1ccfcf !important;
}

checkbox .wx-checkbox-input.wx-checkbox-input-checked::before {
	border-radius: 50%;
	width: 38px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-size: 26px;
	color: #fff;
	background: transparent;
	transform: translate(-50%, -50%) scale(1);
	-webkit-transform: translate(-50%, -50%) scale(1);
}

/*底部弹窗*/
.maskLayer {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(25, 25, 25, .3);
	z-index: 99;
}

.maskLayer .contentModal {
	position: fixed;
	bottom: 0;
	width: 100%;
}

/**新增样式 app.wxss**/

div,
a,
text,
input,
button {
	margin: 0;
	padding: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.box-shadow {
	/* box-shadow: 0 -1px 8px 0 rgba(0, 0, 0, 0.06); */
	box-shadow: 5px 5px 10px rgba(157,157,157,0.5);
}

.text-shadow {
	/* box-shadow: 0 -1px 8px 0 rgba(0, 0, 0, 0.06); */
	text-shadow: 2px 3px 3px rgba(0,0,0,0.3);
}

.clearfix {
	clear: both;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.left0 {
	left: 0;
}

.right0 {
	right: 0;
}

.top0 {
	top: 0;
}

.bottom0 {
	bottom: 0;
}

.pull-right {
	float: right;
}

.width-full {
	width: 100%;
}

.pull-left {
	float: left;
}

/* 字号 */
.ft-12 {
	font-size: 12px;
}

.ft-14 {
	font-size: 14px;
}

.ft-16 {
	font-size: 16px;
}

.ft-18 {
	font-size: 18px;
}

.ft-20 {
	font-size: 20px;
}

.ft-22 {
	font-size: 22px;
}

.ft-24 {
	font-size: 24px;
}

.ft-26 {
	font-size: 26px;
}

.ft-28 {
	font-size: 28px;
}

.ft-30 {
	font-size: 30px;
}

.ft-32 {
	font-size: 32px;
}

.ft-34 {
	font-size: 34px;
}

.ft-36 {
	font-size: 36px;
}

/* 字体颜色 */
.color-222 {
	color: #222222;
}

.color-333 {
	color: #333333;
}

.color-666 {
	color: #666666;
}

.color-999 {
	color: #999999;
}

.color-aaa {
	color: #aaaaaa;
}

.color-bbb {
	color: #bbbbbb;
}

.color-ccc {
	color: #cccccc;
}

.color-fff {
	color: #fff;
}

.color-eee {
	color: #eeeeee;
}

.color-1ccfcf {
	color: #1ccfcf;
}

.color-fc5920 {
	color: #fc5920;
}

.color-warn {
	color: #e64340;
}

.color-c01920 {
	color: #c01920;
}

/* 字体 */
.ft-family-Medium {
	font-family: PingFang-SC-Medium;
}

.ft-family-Bold {
	font-family: PingFang-SC-Bold;
}

/* 背景颜色 */
.bg-fff {
	background: #ffffff;
}

.bg-999 {
	background: #999;
}

.bg-ccc {
	background: #ccc;
}

.bg-f4f4f4 {
	background: #f4f4f4;
}

.bg-1ccfcf {
	background: #1CCFCF;
}

.bg-fc5920 {
	background: #FC5920;
}

.bg-eee {
	background: #eee;
}

.bg-fba981 {
	background: #fba981;
}

.bg-ff5400 {
	background: #1ccfcf;
}

/* 边框 */
.bd-1ccfcf {
	border: 1px solid #1ccfcf;
}

.bd-tp-eee {
	border-top: 0.02rem solid #eeeeee;
}

.bd-bt-eee {
	border-bottom: 0.02rem solid #eeeeee;
}

.bd-tp-f4f4f4 {
	border-top: 0.02rem solid #f4f4f4;
}

.bd-tp10-f4f4f4 {
	border-top: 0.1rem solid #f4f4f4;
}

.bd-bt-f4f4f4 {
	border-bottom: 0.02rem solid #f4f4f4;
}

/* 圆角 */
.bd-rd4 {
	border-radius: 4px;
}

.bd-rd5 {
	border-radius: 5px;
}

.bd-rd8 {
	border-radius: 8px;
}

.bd-rd10 {
	border-radius: 10px;
}

.bd-rd15 {
	border-radius: 15px;
}

.bd-rd20 {
	border-radius: 20px;
}

.bd-rd50 {
	border-radius: 50%;
}

/* 外边距 */
.mg-20 {
	margin: 20px;
}

.mg-tp5 {
	margin-top: 5px;
}

.mg-tp6 {
	margin-top: 6px;
}

.mg-tp10 {
	margin-top: 10px;
}

.mg-tp15 {
	margin-top: 15px;
}

.mg-tp20 {
	margin-top: 20px;
}

.mg-tp25 {
	margin-top: 25px;
}

.mg-tp30 {
	margin-top: 30px;
}

.mg-tp35 {
	margin-top: 35px;
}

.mg-tp40 {
	margin-top: 40px;
}

.mg-tp45 {
	margin-top: 45px;
}

.mg-tp50 {
	margin-top: 50px;
}

.mg-tp55 {
	margin-top: 55px;
}

.mg-tp60 {
	margin-top: 60px;
}

.mg-tp70 {
	margin-top: 70px;
}

.mg-tp80 {
	margin-top: 80px;
}

.mg-tp90 {
	margin-top: 90px;
}

.mg-tp100 {
	margin-top: 100px;
}

.mg-tp120 {
	margin-top: 120px;
}

.mg-tp130 {
	margin-top: 130px;
}

.mg-tp140 {
	margin-top: 140px;
}

.mg-bt5 {
	margin-bottom: 5px;
}

.mg-bt10 {
	margin-bottom: 10px;
}

.mg-bt15 {
	margin-bottom: 15px;
}

.mg-bt20 {
	margin-bottom: 20px;
}

.mg-bt25 {
	margin-bottom: 25px;
}

.mg-bt30 {
	margin-bottom: 30px;
}

.mg-bt35 {
	margin-bottom: 35px;
}

.mg-bt40 {
	margin-bottom: 40px;
}

.mg-bt45 {
	margin-bottom: 45px;
}

.mg-bt50 {
	margin-bottom: 50px;
}

.mg-lt5 {
	margin-left: 5px;
}

.mg-lt6 {
	margin-left: 6px;
}

.mg-lt10 {
	margin-left: 10px;
}

.mg-lt15 {
	margin-left: 15px;
}

.mg-lt20 {
	margin-left: 20px;
}

.mg-lt25 {
	margin-left: 25px;
}

.mg-lt30 {
	margin-left: 30px;
}

.mg-lt35 {
	margin-left: 35px;
}

.mg-lt40 {
	margin-left: 40px;
}

.mg-lt45 {
	margin-left: 45px;
}

.mg-lt50 {
	margin-left: 50px;
}

.mg-lt62 {
	margin-left: 62px;
}

.mg-lt80 {
	margin-left: 80px;
}

.mg-lt150 {
	margin-left: 150px;
}

.mg-lt200 {
	margin-left: 200px;
}

.mg-lt250 {
	margin-left: 250px;
}

.mg-rt5 {
	margin-right: 5px;
}

.mg-rt10 {
	margin-right: 10px;
}

.mg-rt15 {
	margin-right: 15px;
}

.mg-rt20 {
	margin-right: 20px;
}

.mg-rt25 {
	margin-right: 25px;
}

.mg-rt30 {
	margin-right: 30px;
}

.mg-rt35 {
	margin-right: 35px;
}

.mg-rt40 {
	margin-right: 40px;
}

.mg-rt45 {
	margin-right: 45px;
}

.mg-rt50 {
	margin-right: 50px;
}

.mg-lr15 {
	margin: 0 15px;
}

.mg-lr20 {
	margin: 0 20px;
}

.mg-lr30 {
	margin: 0 30px;
}

.mg-tb15 {
	margin: 15px 0;
}

.mg-tb30 {
	margin: 30px 0;
}

.mg15 {
	margin: 15px;
}

.mg30 {
	margin: 30px;
}

/* 内边距 */
.pd-5 {
	padding: 5px;
}

.pd-20 {
	padding: 20px;
}

.pd-50 {
	padding: 50px;
}

.pd-tp10 {
	padding-top: 10px;
}

.pd-tp15 {
	padding-top: 15px;
}

.pd-tp20 {
	padding-top: 20px;
}

.pd-tp25 {
	padding-top: 25px;
}

.pd-tp30 {
	padding-top: 30px;
}

.pd-tp35 {
	padding-top: 35px;
}

.pd-tp40 {
	padding-top: 40px;
}

.pd-tp45 {
	padding-top: 45px;
}

.pd-tp50 {
	padding-top: 50px;
}

.pd-tp70 {
	padding-top: 70px;
}

.pd-tp100 {
	padding-top: 100px;
}

.pd-tp120 {
	padding-top: 120px;
}

.pd-tp130 {
	padding-top: 130px;
}

.pd-tp140 {
	padding-top: 140px;
}

.pd-tp150 {
	padding-top: 150px;
}

.pd-tp160 {
	padding-top: 160px;
}

.pd-bt10 {
	padding-bottom: 10px;
}

.pd-bt15 {
	padding-bottom: 15px;
}

.pd-bt20 {
	padding-bottom: 20px;
}

.pd-bt25 {
	padding-bottom: 25px;
}

.pd-bt30 {
	padding-bottom: 30px;
}

.pd-bt35 {
	padding-bottom: 35px;
}

.pd-bt40 {
	padding-bottom: 40px;
}

.pd-bt45 {
	padding-bottom: 45px;
}

.pd-bt50 {
	padding-bottom: 50px;
}

.pd-bt100 {
	padding-bottom: 100px;
}

.pd-bt120 {
	padding-bottom: 120px;
}

.pd-lt10 {
	padding-left: 10px;
}

.pd-lt15 {
	padding-left: 15px;
}

.pd-lt20 {
	padding-left: 20px;
}

.pd-lt25 {
	padding-left: 25px;
}

.pd-lt30 {
	padding-left: 30px;
}

.pd-lt35 {
	padding-left: 35px;
}

.pd-lt40 {
	padding-left: 40px;
}

.pd-lt45 {
	padding-left: 45px;
}

.pd-lt50 {
	padding-left: 50px;
}

.pd-rt4 {
	padding-right: 4px;
}

.pd-rt8 {
	padding-right: 8px;
}

.pd-rt10 {
	padding-right: 10px;
}

.pd-rt15 {
	padding-right: 15px;
}

.pd-rt20 {
	padding-right: 20px;
}

.pd-rt25 {
	padding-right: 25px;
}

.pd-rt30 {
	padding-right: 30px;
}

.pd-rt35 {
	padding-right: 35px;
}

.pd-rt40 {
	padding-right: 40px;
}

.pd-rt45 {
	padding-right: 45px;
}

.pd-rt50 {
	padding-right: 50px;
}

.pd-lr4 {
	padding: 0 4px;
}

.pd-lr5 {
	padding: 0 5px;
}

.pd-lr10 {
	padding: 0 10px;
}

.pd-lr15 {
	padding: 0 15px;
}

.pd-lr20 {
	padding: 0 20px;
}

.pd-lr30 {
	padding: 0 30px;
}

.pd-lr40 {
	padding: 0 40px;
}

.pd-lr50 {
	padding: 0 50px;
}

.pd-tb10 {
	padding: 10px 0;
}

.pd-tb15 {
	padding: 15px 0;
}

.pd-tb20 {
	padding: 20px 0;
}

.pd-tb30 {
	padding: 30px 0;
}

.pd-tb50 {
	padding: 50px 0;
}

.pd-tb70 {
	padding: 70px 0;
}

.pd15 {
	padding: 15px;
}

.pd30 {
	padding: 30px;
}

/* 宽 */
.w20 {
	width: 20px;
}

.w25 {
	width: 25px;
}

.w30 {
	width: 30px;
}

.w40 {
	width: 40px;
}

.w50 {
	width: 50px;
}

.w60 {
	width: 60px;
}

.w70 {
	width: 70px;
}

.w80 {
	width: 80px;
}

.w90 {
	width: 90px;
}

.w100 {
	width: 100px;
}

.w120 {
	width: 120px;
}

.w130 {
	width: 130px;
}

.w140 {
	width: 140px;
}

.w150 {
	width: 150px;
}

.w180 {
	width: 180px;
}

.w200 {
	width: 200px;
}

.w250 {
	width: 250px;
}

.w300 {
	width: 300px;
}

.w1000 {
	width: 1000px;
}

/*高*/
.h20 {
	height: 20px;
}

.h25 {
	height: 25px;
}

.h30 {
	height: 30px;
}

.h35 {
	height: 35px;
}

.h40 {
	height: 40px;
}

.h44 {
	height: 44px;
}

.h45 {
	height: 45px;
}

.h50 {
	height: 50px;
}

.h55 {
	height: 55px;
}

.h60 {
	height: 60px;
}

.h65 {
	height: 65px;
}

.h70 {
	height: 70px;
}

.h75 {
	height: 75px;
}

.h80 {
	height: 80px;
}

.h90 {
	height: 90px;
}

.h100 {
	height: 100px;
}

.h120 {
	height: 120px;
}

.h130 {
	height: 130px;
}

.h140 {
	height: 140px;
}

.h150 {
	height: 150px;
}

.h160 {
	height: 160px;
}

.h170 {
	height: 170px;
}

.h180 {
	height: 180px;
}

.h200 {
	height: 200px;
}

.h250 {
	height: 250px;
}

/* 行高 */
.line-h30 {
	line-height: 30px;
}

.line-h35 {
	line-height: 35px;
}

.line-h40 {
	line-height: 40px;
}

.line-h45 {
	line-height: 45px;
}

.line-h50 {
	line-height: 50px;
}

.line-h55 {
	line-height: 55px;
}

.line-h60 {
	line-height: 60px;
}

.line-h65 {
	line-height: 65px;
}

.line-h70 {
	line-height: 70px;
}

.line-h75 {
	line-height: 75px;
}

.line-h80 {
	line-height: 80px;
}

.line-h90 {
	line-height: 90px;
}

.line-h100 {
	line-height: 100px;
}

.line-h150 {
	line-height: 150px;
}

.text-indent {
	text-indent: 2em;
}

.flex {
	display: box;
	/* OLD - Android 4.4- */
	display: -webkit-box;
	/* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;
	/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;
	/* TWEENER - IE 10 */
	display: -webkit-flex;
	/* NEW - Chrome */
	display: flex;

}

/* 防止flex布局元素大小被压缩 */
.flex-shrink-0 {
	flex-shrink: 0;
}

.nowrap {
	flex-wrap: nowrap !important;
}

.flex-direction-row {
	flex-direction: row;
}

.flex-direction-column {
	flex-direction: column;
}

/* 水平居中 */
.flex-hc {
	/* 09版 */
	-webkit-box-pack: center;
	/* 12版 */
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
}

/* 垂直居中 */
.flex-vc {
	/* 09版 */
	-webkit-box-align: center;
	/* 12版 */
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

.flex-jc {
	justify-content: center;
}

.flex-js {
	justify-content: flex-start;
}

.flex-je {
	justify-content: flex-end;
}

.flex-jsb {
	justify-content: space-between;
}

.flex-ac {
	align-items: center;
}

.flex-as {
	align-items: flex-start;
}

.flex-ae {
	align-items: flex-end;
}

.block {
	display: block;
}

.inline {
	display: inline;
}

.inline-flex {
	display: inline-flex;
}

.inline-block {
	display: inline-block;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.bold {
	font-weight: bold;
}

/* 文字只显示一行，超出部分省略号 */
.one-line-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* 多行文本溢出隐藏，其他行数结合下面的行数运用 */
.mult_line-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.mult_line-ellipsis-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/* 黑色透明遮盖层 */
.black_cover {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgb(0, 0, 0, .3);
	overflow: hidden;
	z-index: 9999;
}

/* ::-webkit-scrollbar{
		width:0;
		height:0;
	}
	 */